@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.quicksand-rantu {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ====== Shared Style ========================================== */

.df{
    display: flex;
}

.primary-btn {
    padding: 10px 60px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    border-radius: 12px;
    border: none;
}

.btn-color-1{
    background-color: rgba(254, 163, 1, 1);
    color: #fff;
}

/* nav style */

.nav-logo{
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
}
.nav-logo>h3{
    font-weight: 700;
}

.nav-item-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.nav-item{
    justify-content: space-between;
    align-items: center;
}
.nav-menu> li >a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu>li{
    list-style: none;
}

.nav-menu {
    gap: 32px;
}

.home{
    color: rgba(254, 163, 1, 1);
}
.About{
    color: rgba(1, 172, 253, 1);
}
.Facilities{
    color: rgba(5, 212, 223, 1);
}
.Admission {
    color: rgba(93, 88, 239, 1);
}
.nav-responce{
    display: none;
}
/* navbar responsive part */

@media (max-width: 576px) {
    .nav-menu, 
    .nav-logo>h3,
    .nav-btn
    {
        display: none;
    }
    .nav-logo>img{
        width: 10vw;
    }
    .nav-responce{
        display: block;
        width: 10%;
        height: 10%;
    }
    nav{
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    .nav-item-container{
        padding: 20px 20px;
    }
  }