@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.quicksand-rantu {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ====== Shared Style ========================================== */

.df{
    display: flex;
}

.primary-btn {
    padding: 10px 60px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    border-radius: 12px;
    border: none;
    transition: all 0.4s ease-in;
}

.primary-btn:hover {
    color: #fff;
    background-color: #547c7a;
}

.btn-color-1{
    background-color: rgba(254, 163, 1, 1);
    color: #fff;
}



/* nav style */

.nav-logo{
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
}
.nav-logo>h3{
    font-weight: 700;
}

.nav-item-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    width: 80%;
    margin: auto;
}

.nav-item{
    justify-content: space-between;
    align-items: center;
}
.nav-menu> li >a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu>li{
    list-style: none;
}

.nav-menu {
    gap: 32px;
}

.home{
    color: rgba(254, 163, 1, 1);
}
.About{
    color: rgba(1, 172, 253, 1);
}
.Facilities{
    color: rgba(5, 212, 223, 1);
}
.Admission {
    color: rgba(93, 88, 239, 1);
}
.nav-responce{
    display: none;
}
/* navbar responsive part */

@media (max-width: 576px) {
    .nav-menu, 
    .nav-logo>h3,
    .nav-btn
    {
        display: none;
    }
    .nav-logo>img{
        width: 10vw;
    }
    .nav-responce{
        display: block;
        width: 10%;
        height: 10%;
    }
    nav{
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    .nav-item-container{
        padding: 20px 20px;
        width: 90%;
        margin: auto;
    }
  }

/* BANNER SECTION */

.banner-item{
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}
.Empowering{
    color: rgba(254, 163, 1, 1);
}
.vision{
    color: rgba(1, 172, 253, 1);
}
.banner-left{
    /* width: 50%; */
}
.banner-left>h2{
    font-size: 5em;
    font-weight: 700;
}
.banner-left>p{
    font-size: 2em;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    margin-top: 2.5%;
}
.banner-right>img{
    justify-content: flex-end;
    align-items: center;
}
.banner-btn{
    background-color: rgba(17, 17, 17, 1);
    color: #fff;
    border: none;
    border-radius: 12px;
    margin-top: 2.5%;
}

/* responsive part hero part banner part */


@media (max-width: 576px){
    .banner-item{
        flex-direction: column-reverse;
        gap: 5%;
        width: 80vw;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center ;
    }
    .banner-item>.banner-right>img{
        width: 80vw;
        margin: auto;
    } 
    .banner-right{
        justify-content: center;
        align-items: center;
    }
    .banner-left>p{
        font-size: 1.2em;
    }
    .banner-left>h2{
        font-size: 2em;
    }
}

/* curiculam part */

.curriculum{
    background-image: url(assets/bg.png);
    width: 100%;
    height: auto;
}