@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-rantu {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ====== Shared Style ========================================== */

.df{
    display: flex;
}

.primary-btn {
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
}